

*{
    padding: 0;
    border: none;
    font-family: 'Courier New', Courier, monospace, "kallisto", sans-serif, ;
    margin: 0; 
    box-sizing: border-box;
  }
  body{
    
    background: black;

  }